---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre M铆 | Ludevv" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
			title="Sobre M铆"
			tagline="Gracias por visitar. Lee a continuaci贸n para conocer m谩s sobre m铆 y mi experiencia."
		>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						隆Hola!  Soy Luis. Mi carrera en programaci贸n comenz贸 a una edad temprana, cuando empec茅 a desarrollar juegos web utilizando canvas. Desde entonces, he continuado aprendiendo y creciendo en el mundo de la tecnolog铆a, siempre en busca de nuevos desaf铆os y oportunidades para innovar.
					</p>
				</div>
			</section>



			<section>
				<h2 class="section-title">Experiencia Profesional</h2>
				<div class="content">
					<p>
						<strong>Grupo Chavon</strong><br>
						Desarrollador FullStack - 8 meses
					</p>
					<ul>
						<li>Dise帽ar interfaces de usuario atractivas y facilitar la navegaci贸n.</li>
						<li>Integrar servicios como Google Drive y Pusher para gestionar archivos, comunicaci贸n en tiempo real y notificaciones.</li>
						<li>Desarrollar sistemas de chat en tiempo real para mejorar la comunicaci贸n.</li>
						<li>Gestionar tareas complejas con calendarios din谩micos para una mejor organizaci贸n.</li>
					</ul>
					<p>
						<strong>Logros:</strong><br>
						<ul>
							<li>Optimizaci贸n de la experiencia del usuario con interfaces intuitivas y navegabilidad.</li>
							<li>Integraci贸n exitosa de servicios para una plataforma m谩s funcional y eficiente.</li>
							<li>Implementaci贸n de un sistema de gesti贸n de tareas para la organizaci贸n eficiente de tareas.</li>
						</ul>
					</p>
					<p>
						<strong>Tecnolog铆as:</strong><br>
						React, JavaScript, HTML, Tailwind CSS, Laravel, MySQL, APIs
					</p>


					<br>

					<p>
						<strong>Azteli - Actualidad</strong><br>
						Frontend Developer - 1 mes
					</p>
					<ul>
						<li>Dise帽ar componentes reutilizables para librer铆as de componentes.</li>
						<li>Crear landing pages din谩micas, responsivas e interactivas a medida.</li>
					</ul>
					<p>
						<strong>Tecnolog铆as:</strong><br>
						React, TypeScript, Astro, Sass
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>
						Typescript, TailwindCSS, HTML, CSS, React, Laravel, Git, Github, SQL, Firebase, Node.js, Express
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Educaci贸n</h2>
				<div class="content">
					<p>
						<strong>Polit茅cnico Calasanz San Eduardo</strong><br>
						Gesti贸n y Desarrollo de Aplicaciones
					</p>
					<br>
					<p>
						<strong>Instituto Tecnol贸gico de las Am茅ricas (ITLA) - Actualidad</strong>
						<br>
						T茅cnico Superior en Desarrollo de Software
					</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
